* {
  border: none;
  outline: none;
}
a:link,
a:active,
a:visited,
a:hover {
  background: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
p {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
  display: block;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
/* 大盒子 */
.mmm_container {
  width: 100%;
  background-color: #F1F1F1;
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
}
/* 公共头部区域 */
.mmm_header {
  width: 100%;
  height: 1.33rem;
  background-color: #FF841D;
  border-bottom: 2px solid #FF7603;
  overflow: hidden;
  line-height: 1.29rem;
  padding: .16rem;
}
.mmm_header .download {
  float: right;
}
.mmm_header .download a {
  width: .93rem;
  display: block;
  height: .93rem;
}
.mmm_header .logo {
  float: left;
}
.mmm_header .logo a {
  display: block;
  width: 5.07rem;
  margin-top: .18rem;
}
.mmm_header .logo a img {
  height: .67rem;
}
.mmm_search {
  width: 100%;
  height: 1.33rem;
  background-color: #fff;
  padding: .27rem;
  position: relative;
}
.mmm_search input {
  height: 100%;
  width: 7.59rem;
  border-radius: .4rem;
  background-color: #F1F1F1;
  outline: none;
  text-indent: .53rem;
  font-size: .27rem;
}
.mmm_search .btn-search {
  width: 1.68rem;
  height: .8rem;
  background-color: #FF841D;
  border-radius: .4rem;
  margin-left: .19rem;
  color: #fff;
  font-size: .32rem;
  position: absolute;
}
.mmm_footer {
  height: 2.56rem;
  width: 100%;
  margin-top: .67rem;
}
.mmm_footer .top {
  height: .93rem;
  border-top: 1px solid #C4C4C4;
  border-bottom: 1px solid #C4C4C4;
}
.mmm_footer .top li {
  width: 33.33%;
  height: 100%;
  line-height: .91rem;
  float: left;
  text-align: center;
  border-right: 1px solid #C4C4C4;
}
.mmm_footer .top li:last-of-type {
  border-right: none;
}
.mmm_footer .bottom {
  padding-top: .4rem;
  text-align: center;
  color: #71817F;
}
.mmm_footer .bottom .app {
  color: red;
}
